.main_page{
  .intro{
    position: relative;
    overflow: hidden;
    max-height: calc(100vh - 112px);
    background: linear-gradient(110.32deg, #FCB84C 4.11%, #FFD758 45.66%), #FFD658;

    display: flex;
    justify-content: center;

    .container{
      max-width: 100%;
    }

    .intro__lines{
      position: absolute;
      top: -5%;
      left: -2%;
      width: 60vw;
      mix-blend-mode: soft-light;
      z-index: 1;
      pointer-events: none;
    }
    &__content{
      padding-top: 18vh;
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: space-between;

      .content__info{
        flex: 0 1 45%;
        padding-top: 100px;
        padding-left: 13vw;
        .info__title{
          @include text(#000,48px,600);
          margin-bottom: 54px;
        }
        .info__btns{
          display: flex;
          align-items: center;
          .btns__item{
            background: transparent;
            min-width: 188px;

            display: flex;
            align-items: center;
            padding-left: 15px !important;
            margin-right: 16px;

            span{
              @include text(#000,16px, 600);
              letter-spacing: 0.1em;
              text-transform: uppercase;
              margin-left: 10px;
              transition: all .2s linear;
            }

            &-vanil{
              border: 1px solid #F9AA44;
              padding: 5px 0px 4px 0px;
              transition: all .2s linear;

              &:hover,&-active{
                background: #F9AA44;
              }
            }
            &-raspberry{
              padding: 1px 0px;
              border: 1px solid #EB0038;
              transition: all .2s linear;

              path{
                transition: all .2s linear;
              }

              &:hover, &-active{
                path{
                  fill: #fff;
                }
                span{
                  color: #fff;
                }
                background: #EB0038;
              }
            }
          }
        }
      }

      .content__slider {
        flex: 0 1 50%;
        min-width: 0px;

        .intro_slider{
          overflow: hidden !important;
          &__slide{
            overflow: hidden;
            img{
              max-width: 100% !important;
            }
          }
        }
      }
    }
  }

  .faringazon_warning{
    padding: 32px;
    padding-bottom: 0px;
    padding-right: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all .2s linear;

    .faringazon_warning__text{
      font-family: Attentica;
      @include text(#BABABA, 78px,400,83px);
      letter-spacing: -0.02em;
    }

    .faringazon_warning__btn{
      background: transparent;
      border: none;
      outline: none !important;
      cursor: pointer;
    }
  }

  .double_action{
    padding-top: 32px;
    &__content{
      padding-top: 67px;
      padding-bottom: 57px;
      padding-left: 140px;
      padding-right: 80px;
      background: #FFEBBA;
      border-radius: 40px;

      .content__info{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 24px;
        .info__title{
          flex: 0 1 40%;
          @include text(#000,40px,400,49px);
          strong{
            font-weight: 700;
          }
        }
        .info__text{
          flex: 0 1 50%;
          @include text(#000,20px,400,36px);
        }
      }

      .content__numbers{
        display: flex;
        .numbers__item{
          display: flex;
          align-items: center;
          margin-right: 60px;
          .item__number{
            @include text(#F9AA44,80px,600,98px);
          }
          .item__info{
            @include text(#000,16px,600,22px);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            max-width: 270px;
            margin-left: 15px;
          }
        }
      }
    }
  }

  .benefits{
    margin-top: -110px;
    .benefits__image{
      display: block;
      margin-bottom: -13%;
      margin-left: auto;
      margin-right: 12vw;
    }
    .benefits__list{
      display: flex;
      .list__item{
        max-width: 35vw;
        width: 100%;

        display: flex;
        align-items: flex-end;

        padding-right: 100px;
        padding-top: 85px;
        padding-bottom: 40px;

        border-bottom-right-radius: 230px;
        border-top-right-radius: 230px;

        &-blue{
          background: #3056A5;
          position: relative;
          z-index: 5;
        }

        &-green{
          background: #3A8A57;
          position: relative;
          z-index: 4;
        }

        &-red{
          background: #F27A67;
          position: relative;
          z-index: 3;
        }

        &-orange{
          background: #F9AA44;
          position: relative;
          z-index: 2;
        }

        &:not(:first-child){
          margin-left: -15vw;
        }

        &:first-child{
          margin-left: -6.5vw;
        }

        .item__info{
          margin-left: auto;
          text-align: center;
          .info__image{

          }

          .info__text{
            width: 240px;
            margin-top: 14px;
            @include text(#fff,24px,600,29px);
          }
        }
      }
    }
  }

  .usage{
    display: flex;
    align-items: center;

    padding-top: 100px;

    .usage__pills{
      
    }

    &__content{
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      .content__info{
        flex: 0 1 28%;
        padding-left: 20px;

        .info__controls{
          margin-top: 20px;
          display: flex;
          justify-content: space-between;

          .button{
            flex: 0 1 46%;
            color: #000;
            background: #fff;
            transition: all .2s linear;
            font-weight: 600;
          }

          .button-mans{
            border: 1px solid $blue;
            &:hover,&-active{
              background: $blue;
              color: #fff;
            }
            &-active{
              pointer-events: none;
            }
          }

          .button-kids{
            border: 1px solid $green;
            &:hover,&-active{
              background: $green;
              color: #fff;
            }
            &-active{
              pointer-events: none;
            }
          }
        }

        .kids_age{
          @include text(#8D8D8D,24px,600);
          margin-top: 14px;
          margin-bottom: 20px;
          text-align: right;
          margin-right: 20px;
        }

        .op0{
          opacity: 0;
          pointer-events: none;
        }

        .info__list{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .list__item{
            flex: 0 1 46%;
            min-height: 110px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 13px;
            padding: 12px 15px;
            margin-bottom: 36px;

            &-blue{
              background: $blue;
            }

            .item__info{
              .info__title{
                @include text(#fff,48px,600,50px);

                sup{
                  @include text(#fff,24px,600,29px);
                  position: relative;
                  left: 5px;
                  top: -20px;
                }
              }
              .info__text{
                @include text(#fff,12px,500,15px);
              }


            }
          }
        }

        .info__paragraph{
          background: #D9D9D9;
          padding: 9px 9px 14px 9px;
          @include text(#000,14px,600,17px);
          border-radius: 10px;
          text-align: center;
        }

        .info__file{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;

          a{
            flex: 0 1 85%;

            text-decoration: underline;

            @include text(#000,16px,600,20px)
          }
        }
      }

      .content__indications{
        flex: 0 1 60%;
        background: $red;
        padding: 36px;
        padding-left: 46px;
        padding-bottom: 0;
        border-radius: 40px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

        .indications__title{
          @include text(#fff,24px,600);
          letter-spacing: 0.13em;
          text-transform: uppercase;
        }

        .indications__content{
          display: flex;
          .content__container{
            flex: 0 1 30%;
            padding-top: 36px;
            .info__item{
              box-shadow: 0px 54px 44px -30px rgba(0, 0, 0, 0.2);
              border-radius: 20px;
              padding: 34px 44px;
              margin-bottom: 20px;
              background: #FFEBBA;
              .item__name{
                @include text(#484848,24px,600)
              }
            }
          }
          
          .content__image{
            img{
              display: block;
            }
          }
        }
      }
    }
  }

  .questions{
    position: relative;
    padding-top: 116px;

    .questions__yellow{
      position: absolute;
      top: 177px;
      left: 0;
      right: 0;
      height: 70%;
      background: linear-gradient(110.32deg, #FCB84C 4.11%, #FFD758 45.66%), #FFD658;
      z-index: -1;
    }

    &__content{
      padding: 0px 66px;
      margin-left: auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .content__image{
        flex: 0 1 40%;
        padding-right: 33px;
        margin-left: auto;
        img{
          max-width: 100%;
        }
      }

      .content__info{
        flex: 0 1 57%;
        background: #ECECEC;
        border-radius: 40px;

        .info__container{
          padding: 68px 100px;
          padding-bottom: 71px;
        }

        .button{
          min-width: 268px;
          font-weight: 600;
          background: transparent;
          border: 2px solid $blue;

          margin-top: 26px;
          margin-bottom: 42px;

          &:hover{
            background: $blue;
            color: #fff;
          }
        }

        .info__accordions{

          .accordions__item {
            border-top: none;
            margin-bottom: 32px;

            .accordion__input {
              display: none;
            }

            .accordion__trigger {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;

              width: 100%;

              @include text(black, 24px, 600,29px);
              cursor: pointer;

              -webkit-touch-callout: none;
              /* iOS Safari */
              -webkit-user-select: none;
              /* Chrome/Safari/Opera */
              -khtml-user-select: none;
              /* Konqueror */
              -moz-user-select: none;
              /* Firefox */
              -ms-user-select: none;
              /* Internet Explorer/Edge */
              user-select: none;

              span{
                flex-grow: 1;
                padding-bottom: 14px;
                padding-right: 40px;
                border-bottom: 1px solid #8D8D8D;
              }

              .trigger__arrow {
                margin-bottom: -2px;
              }
            }

            .accordion__content {
              max-height: 280px;
              overflow: hidden;
              height: 0px;
              transition: height .2s linear;

              .content__container {
                max-height: 280px;
                overflow: auto;
                overflow-x: hidden;
                margin-right: 8px;
                margin-top: 8px;

                &::-webkit-scrollbar {
                  width: 2px;

                }

                /* Track */
                &::-webkit-scrollbar-track {
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                  background: rgba(79, 79, 79,.1);
                  margin-right: 8px;
                  border-radius: 4px;
                }

                .content__text{
                  padding-top: 16px;
                  @include text(#484848,20px,400,30px);
                }

              }
            }

            .accordion__input:checked~.accordion__content {
              opacity: 1;
              height: initial;
              transition: .2s linear;
            }
            
            .trigger__arrow-minus{
              display: none;
            }
            .trigger__arrow-plus{
              display: block;
              margin-bottom: -5px;
            }

            .accordion__input:checked + .accordion__trigger .trigger__arrow-plus{
              display: none;
            }
            .accordion__input:checked + .accordion__trigger .trigger__arrow-minus{
              display: block;
            }
          }
        }
      }
    }
  }

  .articles{
    &__content{
      margin-left: auto;
      max-width: 89vw;

      .content__slider{
          margin-top: 53px;
          color: #fff;

          .slider__item{
            border-radius: 10px;
            display: flex;
            // justify-content: center;
            align-items: flex-end;
            min-height: 433px;
            overflow: hidden;

            position: relative;

            .slide__overlay {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: -1;

              background: rgba(0, 0, 0,.7);
            }

            .slide__image {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: -4;
              width: 100%;
              min-height: 100%;
              margin: 0 auto;
            }

            .slide__info {
              max-width: 400px;
              padding: 25px 25px 30px 41px;

              .info__title {
                @include text(#fff,24px,600,36px);
                margin-bottom: 10px;

                @media screen and (max-width: 1200px) {
                  @include text(#fff,22px,600,30px);
                }

                @media screen and (max-width: 650px) {
                  @include text(#fff,18px,600,22px);
                }
              }
              .info__text {
                @include text(#fff,16px,400,20px);

                @media screen and (max-width: 650px) {
                  @include text(#fff,14px,400,18px);
                }

                @media screen and (max-width: 400px) {
                  @include text(#fff,12px,400,15px);
                }
              }

              .info__link{
                display: flex;
                align-items: center;
                margin-top: 15px;
                margin-right: auto;

                transition: all .2s linear;

                span{
                  margin-right: 5px;
                  @include text(#fff,16px,400,20px);
                  transition: all .2s linear;
                }

                img,span{
                  display: block;
                }

                &:hover{
                  span{
                    margin-right: 10px;
                  }
                }
              }

              @media screen and (max-width: 1200px) {
                padding: 25px 25px 30px 25px;
              }
              @media screen and (max-width: 650px) {
                padding: 16px 20px 20px 17px;
              }
            }
            @media screen and (max-width: 700px) {
              min-height: 390px;
            }

            @media screen and (max-width: 500px) {
              min-height: 364px;
            }
            @media screen and (max-width: 400px) {
              min-height: 354px;
            }
          }
      }
    }
  }

  .partners{
    padding-top: 100px;
    padding-bottom: 150px;

    &__content{
      .content__list{
        margin-top: 100px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .list__item{
          position: relative;
          flex: 0 1 18%;
          text-align: center;
          margin-bottom: 70px;

          &:not(:nth-child(5n)){
            &:after{
              content: url("../../img/logos/partners/mark.svg");
              position: absolute;
              bottom: -80px;
              right: -50px;
            }
          }
          &-without{
            &:after{
              content: "" !important;
            }
          }

          &-left{
            text-align: left;
          }

          img{
            max-width: 100%;
          }
        }
      }
    }
  }
}