.main_page{
  .intro{
    position: relative;
    overflow: hidden;
    max-height: calc(100vh - 112px);
    background: linear-gradient(110.32deg, #FCB84C 4.11%, #FFD758 45.66%), #FFD658;

    display: flex;
    justify-content: center;
    padding-bottom: 70px;

    .container{
      max-width: 100%;
      padding: 0;
    }

    .intro__lines{
      position: absolute;
      top: -5%;
      left: -2%;
      width: 60vw;
      mix-blend-mode: soft-light;
      z-index: 1;
      pointer-events: none;
      
      @media screen and (max-width: 1000px) {
        width: 160vw;
        left: -80%;
      }
    }
    
    &__content{
      padding-top: 18vh;
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: space-between;

      .content__info{
        flex: 0 1 45%;
        padding-top: 100px;
        padding-left: 13vw;

        .info__title{
          @include text(#000,48px,600);
          margin-bottom: 54px;
          
          @media screen and (max-width: 1200px) {
            @include text(#000,36px,600);
          }

          @media screen and (max-width: 1000px) {
            @include text(#000,48px,600);
            margin-bottom: 0px;
          }

          @media screen and (max-width: 600px) {
            @include text(#000,36px,600);
          }

          @media screen and (max-width: 450px) {
            @include text(#000,28px,600,34px);
          }
        }

        .info__btns{
          display: flex;
          align-items: center;
          .btns__item{
            background: transparent;
            min-width: 188px;

            display: flex;
            align-items: center;
            padding-left: 15px !important;
            margin-right: 16px;

            span{
              @include text(#000,16px, 600);
              letter-spacing: 0.1em;
              text-transform: uppercase;
              margin-left: 10px;
              transition: all .2s linear;

              @media screen and (max-width: 450px) {
                @include text(#000,12px, 600);
                margin-left: 5px;
              }
            }

            &-vanil{
              border: 1px solid #F9AA44;
              padding: 5px 0px 4px 0px;
              transition: all .2s linear;

              &:hover,&-active{
                background: #F9AA44;
              }
            }
            &-raspberry{
              padding: 1px 0px;
              border: 1px solid #EB0038;
              transition: all .2s linear;

              path{
                transition: all .2s linear;
              }

              &:hover, &-active{
                path{
                  fill: #fff;
                }
                span{
                  color: #fff !important;
                }
                background: #EB0038;
              }
            }

            @media screen and (max-width: 450px) {
              min-width: 160px;
              &-raspberry,&-vanil{
                height: 40px;
                svg{
                  height: 100%;
                }
              }
            }
            @media screen and (max-width: 400px) {
              min-width: 145px;
              padding-left: 15px;
              padding-top: 8px;
              padding-bottom: 8px;
              &-raspberry,&-vanil{
                height: 50px;
              }
            }

            @media screen and (max-width: 350px) {
              transform: scale(.8);
              margin-left: -20px;
            }
          }

          @media screen and (max-width: 1000px) {
            position: absolute;
            bottom: 46px;
            z-index: 100;
          }
        }
        
        @media screen and (max-width: 1600px) {
          padding-left: 6vw;
          padding-bottom: 100px;
        }
        @media screen and (max-width: 1300px) {
          padding-left: 50px;
          padding-top: 50px;
        }

        @media screen and (max-width: 1000px) {
          padding-bottom: 40px;
        }

        @media screen and (max-width: 800px) {
          padding-top: 0px;
          padding-left: 20px;
        }
        @media screen and (max-width: 600px) {
          flex: 0 1 auto;
        }
        @media screen and (max-width: 450px) {
          padding-bottom: 30px;
        }
      }

      .content__slider {
        flex: 0 1 50%;
        min-width: 0px;

        .intro_slider{
          overflow: hidden !important;
          &__slide{
            opacity: 0 !important;
            overflow: hidden;

            img{
              max-width: 100% !important;

              @media screen and (min-width: 2000px) {
                width: 100%;
              }

              @media screen and (max-width: 600px) {
                max-width: 120% !important;
                width: 120% !important;
              }
            }

            @media screen and (max-width: 1000px) {
              max-height: 70vh;
            }
            @media screen and (max-width: 800px) {
              max-height: 65vh;
            }
          }

          .swiper-slide-active{
            opacity: 1 !important;
          }

          .slider_pills{
            img{
              @media screen and (max-width: 600px) {
                max-width: 100% !important;
                width: 100% !important;
              }
            }

          }
        }

        @media screen and (max-width: 1600px) {
          flex: 0 1 55%;
        }
        @media screen and (max-width: 1300px) {
          flex: 0 1 50%;
        }
      }

      @media screen and (max-width: 1000px) {
        padding-top: 60px;
        flex-direction: column;
      }
      @media screen and (max-width: 600px) {
        height: 100%;
        justify-content: flex-start;
      }
    }

    @media screen and (max-width: 1500px){
      max-height: calc(110vh - 112px);
    }

    @media screen and (max-width: 1000px){
      max-height: initial;
      min-height: calc(100vh - 112px);
    }

    @media screen and (max-width: 600px){
      min-height: calc(100vh - 106px);
      padding-bottom: 0px;
    }
    @media screen and (max-width: 450px) {
      min-height: calc(90vh - 106px);
    }
    @media screen and (max-width: 400px) {
      min-height: calc(78vh - 106px);
    }
    @media screen and (max-width: 350px) {
      min-height: calc(58vh - 106px);
    }
  }

  .faringazon_warning{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1000;
    padding: 32px;
    padding-bottom: 10px;
    padding-right: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all .2s linear;

    .faringazon_warning__text{
      font-family: Attentica;
      @include text(#BABABA, 78px,400,83px);
      letter-spacing: -0.02em;
      
      @media screen and (max-width: 1800px) {
        @include text(#BABABA, 74px,400,79px);
      }
      @media screen and (max-width: 1700px) {
        @include text(#BABABA, 64px,400,69px);
      }
      @media screen and (max-width: 1600px) {
        @include text(#BABABA, 54px,400,59px);
      }
      @media screen and (max-width: 1250px) {
        @include text(#BABABA, 44px,400,49px);
      }
      @media screen and (max-width: 900px) {
        @include text(#BABABA, 34px,400);
      }
      @media screen and (max-width: 500px) {
        @include text(#BABABA, 30px,400);
      }
    }

    .faringazon_warning__btn{
      background: transparent;
      border: none;
      outline: none !important;
      cursor: pointer;
      @media screen and (max-width: 900px) {
        max-width: 20px;
       img{
        max-width: 100%;
       }
      }
      @media screen and (max-width: 400px) {
        min-width: 18px;
      }
    }
    @media screen and (max-width: 900px) {
      padding-top: 18px;
    }
    @media screen and (max-width: 600px) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .double_action{
    padding-top: 32px;
    &__content{
      padding-top: 67px;
      padding-bottom: 57px;
      padding-left: 140px;
      padding-right: 80px;
      background: #FFEBBA;
      border-radius: 40px;

      .content__info{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 24px;

        .info__title{
          flex: 0 1 40%;
          @include text(#000,40px,400,49px);
          strong{
            font-weight: 700;
          }

          @media screen and (max-width: 600px) {
            @include text(#000,36px,400);
          }
          
          @media screen and (max-width: 500px) {
            @include text(#000,28px,400);
          }
          @media screen and (max-width: 360px) {
            @include text(#000,20px,400);
          }
        }

        .info__text{
          flex: 0 1 50%;
          @include text(#000,20px,400,36px);

          @media screen and (max-width: 500px) {
            @include text(#000,16px,400,24px);
          }
          @media screen and (max-width: 360px) {
            @include text(#000,14px,400,20px);
          }
        }

        @media screen and (max-width: 1400px){
          flex-direction: column;

          .info__title{
            margin-bottom: 20px;
          }
        }

        @media screen and (max-width: 500px) {
          margin-bottom: 10px;
        }
      }

      .content__numbers{
        display: flex;
        .numbers__item{
          display: flex;
          align-items: center;
          margin-right: 60px;
          .item__number{
            @include text(#F9AA44,80px,600,98px);
            @media screen and (max-width: 600px) {
              font-size: 72px;
            }
            @media screen and (max-width: 360px) {
              font-size: 62px;
            }
          }
          .item__info{
            @include text(#000,16px,600,22px);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            max-width: 270px;
            margin-left: 15px;

            @media screen and (max-width: 360px) {
              font-size: 14px;
            }
          }
        }

        @media screen and (max-width: 800px) {
          flex-direction: column;
        }
      }
      @media screen and (max-width: 1400px) {
        padding-top: 20px;
        padding-bottom: 30px;
      }

      @media screen and (max-width: 1100px) {
        padding-bottom: 57px;
      }

      @media screen and (max-width: 1200px) {
        padding-left: 87px;
      }
      @media screen and (max-width: 1100px) {
        padding-left: 57px;
      }
      @media screen and (max-width: 800px) {
        border-radius: 10px;
        padding-left: 40px;
        padding-right: 40px;
      }
      @media screen and (max-width: 600px) {
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
      }
      @media screen and (max-width: 500px) {
        padding: 40px 16px;
      }
    }
    @media screen and (max-width: 1100px) {
     padding-top: 40px;
    }
  }

  .benefits{
    overflow: hidden;
    margin-top: -110px;
    .benefits__image{
      display: block;
      width: 280px;
      margin-bottom: -13%;
      margin-left: auto;
      margin-right: 12vw;

      svg{
        max-width: 100%;

        .balls{
          animation-name: balls_anim;
          animation-duration: 1.5s;
          animation-iteration-count: infinite;
          animation-direction: alternate; 
        }

        @keyframes balls_anim {
          0%{
            transform: rotate(0deg) translate(0px,0px);
          }
          100%{
            transform: rotate(2.5deg) translate(13px,-2px);
          }
        }
      }
      
      @media screen and (min-width: 2150px) {
        margin-bottom: -9%;
      }
      @media  screen and (max-width: 1600px){
        margin-bottom: -16%;
      }
      @media  screen and (max-width: 1500px){
        margin-bottom: -18%;
      }
      @media screen and (max-width: 1400px) {
        margin-bottom: -19%;
      }
      @media  screen and (max-width: 1300px){
        margin-bottom: -20%;
        margin-right: -20px;
      }
      @media  screen and (max-width: 1100px){
        margin-bottom: -22%;
      }
      @media screen and (max-width: 950px) {
        margin-bottom: -25%;
        
        margin-right: 20px;
        width: 220px;
      }
      @media screen and (max-width: 900px) {
        margin-bottom: -30%;
        margin-right: 10px;
      }
      @media screen and (max-width: 800px) {
        margin-bottom: -30%;
      }
      @media screen and (max-width: 700px) {
        margin-bottom: -35%;
      }
      @media screen and (max-width: 600px) {
        margin-bottom: -40%;
        margin-right: 30px;
      }
      @media screen and (max-width: 500px) {
        margin-bottom: -50%;
      }
      @media screen and (max-width: 450px) {
        margin-bottom: -50%;
        margin-right: 0px;
      }
      @media screen and (max-width: 400px) {
        margin-bottom: -67%;
        margin-right: -30px;
        width: 180px;
      }
      @media screen and (max-width: 350px) {
        margin-bottom: -76%;
      }
     }

    .benefits__list{
      display: flex;
      .list__item{
        max-width: 35vw;
        width: 100%;

        display: flex;
        align-items: flex-end;

        padding-right: 100px;
        padding-top: 85px;
        padding-bottom: 40px;

        border-bottom-right-radius: 230px;
        border-top-right-radius: 230px;

        &-blue{
          background: #3056A5;
          position: relative;
          z-index: 5;
          @media screen and (max-width: 950px) {
            z-index: 2;
          }
        }

        &-green{
          background: #3A8A57;
          position: relative;
          z-index: 4;
          .item__info{
            position: relative;
            z-index: 3;
          }
          @media screen and (max-width: 950px) {
            z-index: initial;
          }
        }

        &-red{
          position: relative;
          z-index: 3;
          background: #F27A67;
          position: relative;
          z-index: 3;

          .item__info{
            position: relative;
            z-index: 5;
          }

          @media screen and (max-width: 950px) {
            margin-left: -6.5vw !important;
          }
          @media screen and (max-width: 600px) {
            margin-left: -12vw !important;
          }
          @media screen and (max-width: 400px) {
            margin-left: -17vw !important;
          }
        }

        &-orange{
          background: #F9AA44;
          position: relative;
          z-index: 2;
          .item__info{
            position: relative;
            z-index: 5;
          }

          @media screen and (max-width: 950px) {
            z-index: initial;
          }
        }

        &:not(:first-child){
          margin-left: -15vw;

          @media screen and (max-width: 750px) {
            margin-left: -20vw;
          }
          @media screen and (max-width: 600px) {
            margin-left: -25vw;
          }
          @media screen and (max-width: 400px) {
            margin-left: -24vw;
          }
          @media screen and (max-width: 350px) {
            margin-left: -29vw;
          }
        }

        &:first-child{
          margin-left: -6.5vw;
          @media screen and (max-width: 600px) {
            margin-left: -12vw !important;
          }
          @media screen and (max-width: 400px) {
            margin-left: -17vw !important;
          }
        }

        .item__info{
          position: relative;
          margin-left: auto;
          text-align: center;

          .info__hov_message{
            opacity: 0;
            position: absolute;

            padding: 40px 21px 43px 51px;
            background: #fff;
            text-align: left;
            border-radius: 30px;
            @include text(#000,20px,400,30px);

            filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));

            transition: all .2s linear;

            &:after{
              content: "";
              position: absolute;
              bottom: -50px;
              left: 50px;
              border: 30px solid transparent; border-left: 30px solid #fff; border-top: 30px solid #fff;
            }

            &-effect{
              top: -95%;
              right: -105%;
              width: 420px !important;
              padding-right: 58px;

              @media screen and (max-width: 1250px) {
                top: -98%;
              }

              @media screen and (max-width: 950px) {
                width: 360px !important;
                right: -80%;

                &:after{
                  z-index: 1000;
                }
              }
              @media screen and (max-width: 600px) {
                top: -88%;
                right: -95%;
                &:after{

                  z-index: 1000;
                }
              }
              @media screen and (max-width: 450px) {
                max-width: 240px;
                width: 100%;
                top: -130%;
                right: -60%;
              }
              @media screen and (max-width: 350px) {
                top: -150%;
                right: -100%;
              }
            }

            &-ages{
              top: -95%;
              right: -105%;
              width: 420px !important;
              padding-right: 58px;
              
              @media screen and (max-width: 1250px) {
                top: -98%;
              }

              @media screen and (max-width: 950px) {
                width: 360px !important;
                right: 2%;

                &:after{
                  left: auto;
                  right: 100px;
                  z-index: 1000;
                  border: 30px solid transparent; border-top: 30px solid #fff; border-right: 30px solid #fff;
                }
              }
              @media screen and (max-width: 600px) {
                top: -88%;
              }
              @media screen and (max-width: 450px) {
                max-width: 240px;
                width: 100%;
                top: -100%;
                right: 0;

                &:after{
                  right: 30%;
                }
              }
            }

            &-course{
              top: -95%;
              right: -105%;
              width: 420px !important;
              padding-right: 58px;

              @media screen and (max-width: 1700px) {
                right: 0;
                &:after{
                  left: auto;
                  right: 120px;
                  z-index: 1000;
                  border: 30px solid transparent; border-top: 30px solid #fff; border-right: 30px solid #fff;
                }
              }

              @media screen and (max-width: 1250px) {
                top: -98%;
              }

              @media screen and (max-width: 950px) {
                width: 360px !important;
                right: 2%;
                top: -85%;
              }
              @media screen and (max-width: 600px) {
                top: -88%;
              }
              @media screen and (max-width: 450px) {
                max-width: 240px;
                width: 100%;
                top: -100%;
                right: 0;

                &:after{
                  right: 30%;
                }
              }
            }

            @media screen and (max-width: 1250px) {
              padding: 25px 21px 28px 31px;
            }
            @media screen and (max-width: 950px) {
              @include text(#000,18px,400,27px);
            }

            @media screen and (max-width: 600px) {
              @include text(#000,16px,400,24px);
            }
          }

          .info__image{
            @media screen and (max-width: 1250px) {
              img{
                width: 100px;
              }
            }

            @media screen and (max-width: 1100px) {
              img{
                width: 92px;
              }
            }
            @media screen and (max-width: 350px) {
              img{
                width: 80px;
              }
            }
          }

          .info__image:hover + .info__hov_message{
            opacity: 1;
          }

          .info__text{
            width: 240px;
            margin-top: 14px;
            @include text(#fff,24px,600,29px);

            @media screen and (max-width: 600px) {
              @include text(#fff,20px,600,25px);
              max-width: 200px;
            }
            @media screen and (max-width: 450px) {
              margin-top: 8px;
              @include text(#fff,16px,600,20px);
              max-width: 160px;
            }
            @media screen and (max-width: 350px) {
              margin-top: 4px;
              @include text(#fff,14px,600,20px);
              max-width: 120px;
            }
          }
        }
        
        @media screen and (max-width: 1700px) {
          max-width: 40vw;
        }

        @media  screen and (max-width: 1500px){
          padding-top: 55px;
          padding-right: 65px;
        }

        @media screen and (max-width: 1250px) {
          padding-right: 40px;
        }
        @media  screen and (max-width: 1100px){
          padding-right: 20px;
        }
        @media screen and (max-width: 950px) {
          max-width: 60vw;
          padding-right: 100px;
        }
        @media screen and (max-width: 750px) {
          max-width: 62vw;
          padding-right: 40px;
        }
        @media screen and (max-width: 600px) {
          max-width: 68vw;
          padding-right: 20px;
        }
        @media screen and (max-width: 500px) {
          padding-bottom: 20px;
        }
        @media screen and (max-width: 400px) {
          max-width: 70vw;
        }
        @media screen and (max-width: 350px) {
          max-width: 72vw;
          padding-right: 27px;
        }
      }
      @media screen and (max-width: 950px) {
        flex-wrap: wrap;
      }
    }

    @media screen and (max-width: 1600px) {
      margin-top: -200px;
    }
  }

  .usage{
    display: flex;
    align-items: center;

    padding-top: 100px;

    .usage__pills{
      @media screen and (max-width: 1800px) {
        max-width: 120px;
        img{
          max-width: 100%;
        }
      }
      
      @media screen and (max-width: 1400px) {
        display: none;
      }
    }

    &__content{
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      
      .content__info {
        flex: 0 1 28%;
        padding-left: 20px;

        .info__controls{
          margin-top: 20px;
          display: flex;
          justify-content: space-between;

          .button{
            flex: 0 1 46%;
            color: #000;
            background: #fff;
            transition: all .2s linear;
            font-weight: 600;
          }

          .button-mans{
            border: 1px solid $blue;
            &:hover,&-active{
              background: $blue;
              color: #fff;
            }
            &-active{
              pointer-events: none;
            }
          }

          .button-kids{
            border: 1px solid $green;
            &:hover,&-active{
              background: $green;
              color: #fff;
            }
            &-active{
              pointer-events: none;
            }
          }

          @media screen and (max-width: 1400px) {
            margin-top: 10px;
          }
          
          @media screen and (max-width: 450px) {
            .button-kids, .button-mans{
              font-size: 12px;
              min-width: 160px;
            }
          }
          @media screen and (max-width: 370px) {
            .button-kids, .button-mans{
              transform: scale(.8);
              margin-left: -18px;
            }
          }
          @media screen and (max-width: 340px) {
            .button-kids, .button-mans{
              margin-left: -22px;
            }
          }
        }

        .kids_age{
          @include text(#8D8D8D,24px,600);
          margin-top: 14px;
          margin-bottom: 20px;
          text-align: right;
          margin-right: 20px;

          @media screen and (max-width: 1400px) {
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 13px;
          }
          
          @media screen and (max-width: 400px) {
            font-size: 18px;
            margin-bottom: 10px;
          }
        }

        .op0{
          opacity: 0;
          pointer-events: none;
        }
        
        .dn{
          display: none !important;
        }

        .info__list{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          &-kids{
            .list__item{
              background: $green;

              &:last-child{
                margin-left: auto;
              }
            }
          }

          &-adult {
            .list__item{
              background: $blue;
            }
          }

          .list__item{
            flex: 0 1 46%;
            min-height: 110px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 13px;
            padding: 12px 15px;
            margin-bottom: 36px;

            .item__info{
              .info__title{
                @include text(#fff,48px,600,50px);

                sup{
                  @include text(#fff,24px,600,29px);
                  position: relative;
                  left: 5px;
                  top: -20px;

                  @media screen and (max-width: 1400px) {
                    @include text(#fff,18px,600,25px);
                  }

                  @media screen and (max-width: 450px) {
                    @include text(#fff,18px,600,25px);
                    left: 2px;
                  }
                  @media screen and (max-width: 370px) {
                    @include text(#fff,14px,600);
                    left: 0px;
                  }
                }
                
                @media screen and (max-width: 1800px) {
                  @include text(#fff,42px,600,47px);
                }
                @media screen and (max-width: 1400px) {
                  @include text(#fff,28px,600);
                }
                @media screen and (max-width: 450px) {
                  @include text(#fff,32px,600,40px);
                }
                @media screen and (max-width: 360px) {
                  @include text(#fff,28px,600);
                }
              }
              .info__text{
                @include text(#fff,12px,500,15px);
              }
            }
            
            @media screen and (max-width: 1400px) {
              flex: 0 1 48%;
              padding-top: 2px;
              padding-bottom: 2px;
              margin-bottom: 12px;
              min-height: 90px;
            }
          }
        }

        .info__paragraph{
          background: #D9D9D9;
          padding: 9px 9px 14px 9px;
          @include text(#000,14px,600,17px);
          border-radius: 10px;
          text-align: center;
        }

        .info__file{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;

          a{
            flex: 0 1 85%;

            text-decoration: underline;

            @include text(#000,16px,600,20px);

            @media screen and (max-width: 400px) {
              margin-left: 15px;
              @include text(#000,14px,600);
            }
          }
        }

        @media screen and (max-width: 1700px) {
          flex: 0 1 32%;
        }
        @media screen and (max-width: 1500px) {
          flex: 0 1 34%;
        }
        @media screen and (max-width: 1400px) {
          flex: 0 1 37%;
          padding-left: 50px;
        }
        @media screen and (max-width: 1250px) {
          flex: 0 1 42%;
        }

        @media screen and (max-width: 1100px) {
          flex: 0 1 80%;
          margin-bottom: 60px;
        }

        @media screen and (max-width: 800px) {
          flex: 0 1 100%;
          padding-right: 50px;
        }
        @media screen and (max-width: 700px) {
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      .content__indications{
        flex: 0 1 60%;
        max-width: 100%;
        background: $red;

        display: flex;
        flex-direction: column;

        padding: 36px;
        padding-left: 46px;
        padding-bottom: 0;
        border-radius: 40px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

        .indications__title{
          @include text(#fff,24px,600);
          letter-spacing: 0.13em;
          text-transform: uppercase;

          @media screen and (max-width: 1100px) {
            margin-bottom: 12px;
          }
          @media screen and (max-width: 500px) {
            text-transform: none;
            font-size: 28px;
          }
        }

        .indications__content{
          display: flex;
          align-items: flex-end;
          flex-grow: 1;
          height: 100%;

          .content__container{
            flex: 0 1 30%;
            padding-top: 36px;
            margin-bottom: auto;
            .info__item{
              box-shadow: 0px 54px 44px -30px rgba(0, 0, 0, 0.2);
              border-radius: 20px;
              padding: 34px 44px;
              margin-bottom: 20px;
              background: #FFEBBA;

              .item__name{
                @include text(#484848,24px,600);

                @media screen and (max-width: 600px){
                  @include text(#484848,20px,600);
                }
              }

              @media screen and (max-width: 1400px) {
                padding: 24px 34px;
              }

              @media screen and (max-width: 600px){
                text-align: center;
                padding: 10px 15px;
                border-radius: 5px;
              }

              @media screen and (max-width: 360px) {
                flex: 0 1 100%;
              }
            }

            @media screen and (max-width: 1400px) {
              padding-top: 15px;
            }
            @media screen and (max-width: 360px) {
              display: flex;
              flex-wrap: wrap;
            }
          }
          
          .content__image{
            position: relative;
            flex: 0 1 70%;
            display: block;

            .image_circle{
              position: absolute;
              z-index: 2;
              transition: all .2s linear;
            }
            .image_circle-faringit{
              top: 73%;
              left: 41%;

              @media screen and (max-width: 1100px) {
                top: 73%;
                left: 47%;
              }
              @media screen and (max-width: 450px) {
                top: 70%;
                left: 43%;
              }
            }

            .image_circle-tonzillit{
              top: 72%;
              left: 43%;

              @media screen and (max-width: 1100px) {
                top: 73%;
                left: 49%;
              }
              @media screen and (max-width: 450px) {
                top: 70%;
                left: 45%;
              }
            }

            .image_circle-gingivit{
              top: 64%;
              left: 36.5%;
              @media screen and (max-width: 1600px) {
                top: 64%;
                left: 40%;
              }
              @media screen and (max-width: 450px) {
                top: 61.5%;
                left: 41.7%;
              }
              @media screen and (max-width: 360px) {
                top: 60%;
                left: 40.5%;
              }
            }

            .image_circle-stomatit{
              top: 63.5%;
              left: 37.8%;
              @media screen and (max-width: 1700px) {
                top: 64%;
                left: 42%;
              }
              @media screen and (max-width: 450px) {
                top: 61.5%;
                left: 41.7%;
              }
              @media screen and (max-width: 360px) {
                top: 60%;
                left: 40.5%;
              }
            }

            .image_human{
              max-width: 100%;
              display: block;
              margin-top: auto;
            }
          }

          @media screen and (max-width: 1250px) {
            flex-direction: column;
            align-items: center;
            .content__container{
              max-width: 100%;
              order: 2;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              .info__item{
                flex: 0 1 47%;
              }
            }
            .content__image{
              order: 1
            }
          }
        }
        @media screen and (max-width: 1400px) {
          padding-top: 15px;
        }
        @media screen and (max-width: 1300px) {
          padding-right: 10px;
        }
        @media screen and (max-width: 1250px) {
          flex: 0 1 55%;
          padding-right: 46px;
        }

        @media screen and (max-width: 1100px) {
          flex: 0 1 100%;
          margin: 0px 20px;
          border-radius: 20px;
        }

        @media screen and (max-width: 600px){
          padding: 16px;
          padding-top: 40px;
          padding-bottom: 60px;
          border-radius: 10px;
        }
      }
      
      @media screen and (max-width: 1100px) {
        flex-wrap: wrap;
      }
    }
  }

  .questions{
    position: relative;
    padding-top: 116px;

    .questions__yellow{
      position: absolute;
      top: 177px;
      left: 0;
      right: 0;
      height: 70%;
      background: linear-gradient(110.32deg, #FCB84C 4.11%, #FFD758 45.66%), #FFD658;
      z-index: -1;

      @media screen and (max-width: 700px) {
        display: none;
      }
    }

    &__content{
      padding: 0px 66px;
      margin-left: auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .content__image{
        flex: 0 1 40%;
        padding-right: 33px;
        margin-left: auto;

        svg{
          max-width: 100%;

          .sharph{
            animation-name: anim;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-direction: alternate; 
            margin-right: -1px;
          }
          .sharph_small{
            animation-name: second_anim;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-direction: alternate; 
          }
        }

        @keyframes anim {
          0%{
            transform: rotate(0deg) translateY(0px);
          }
          100%{
            transform: rotate(3deg) translateY(-5px);
          }
        }
        
        @keyframes second_anim {
          0%{
            transform: rotate(0deg) translateY(0px);
          }
          100%{
            transform: rotate(2deg) translateY(-5px);
          }
        }
        @media screen and (max-width: 1400px) {
          display: none;
        }
      }

      .content__info {
        position: relative;
        flex: 0 1 57%;
        background: #ECECEC;
        border-radius: 40px;

        .info__container{
          padding: 68px 100px;
          padding-bottom: 71px;
          
          @media screen and (max-width: 1700px) {
            padding-left: 50px;
            padding-right: 50px;
          }
          @media screen and (max-width: 1400px) {
            padding: 40px 50px;
          }
          @media screen and (max-width: 700px) {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 45px;
          }
        }

        .button{
          min-width: 268px;
          font-weight: 600;
          background: transparent;
          border: 2px solid $blue;

          margin-top: 26px;
          margin-bottom: 42px;

          &:hover{
            background: $blue;
            color: #fff;
          }

          @media screen and (max-width: 1400px) {
            margin-bottom: 15px;
          }
        }

        .info__accordions{

          .accordions__item {
            border-top: none;
            margin-bottom: 32px;

            .accordion__input {
              display: none;
            }

            .accordion__trigger {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;

              width: 100%;

              @include text(black, 24px, 600,29px);
              cursor: pointer;

              -webkit-touch-callout: none;
              /* iOS Safari */
              -webkit-user-select: none;
              /* Chrome/Safari/Opera */
              -khtml-user-select: none;
              /* Konqueror */
              -moz-user-select: none;
              /* Firefox */
              -ms-user-select: none;
              /* Internet Explorer/Edge */
              user-select: none;

              span{
                flex-grow: 1;
                padding-bottom: 14px;
                padding-right: 40px;
                border-bottom: 1px solid #8D8D8D;
                
                @media screen and (max-width: 500px) {
                  @include text(#000,20px,600,24px);
                  padding-right: 0px;
                }
              }

              .trigger__arrow {
                margin-bottom: -2px;

                @media screen and (max-width: 500px){
                  display: none !important;
                }
              }
            }

            .accordion__content {
              max-height: 280px;
              overflow: hidden;
              height: 0px;
              transition: height .2s linear;

              .content__container {
                max-height: 280px;
                overflow: auto;
                overflow-x: hidden;
                margin-right: 8px;
                margin-top: 8px;

                &::-webkit-scrollbar {
                  width: 2px;

                }

                /* Track */
                &::-webkit-scrollbar-track {
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                  background: rgba(79, 79, 79,.1);
                  margin-right: 8px;
                  border-radius: 4px;
                }

                .content__text{
                  padding-top: 16px;
                  @include text(#484848,20px,400,30px);

                  @media screen and (max-width: 1400px) {
                    @include text(#484848,18px,400,24px);
                    padding-top: 5px;
                  }

                  @media screen and (max-width: 500px) {
                    @include text(#484848,16px,400,24px);
                    padding-top: 14px;
                  }
                }

              }
            }

            .accordion__input:checked~.accordion__content {
              opacity: 1;
              height: initial;
              transition: .2s linear;
            }
            
            .trigger__arrow-minus{
              display: none;
            }
            .trigger__arrow-plus{
              display: block;
              margin-bottom: -5px;
            }

            .accordion__input:checked + .accordion__trigger .trigger__arrow-plus{
              display: none;
            }
            .accordion__input:checked + .accordion__trigger .trigger__arrow-minus{
              display: block;
            }

            @media screen and (max-width: 1400px) {
              margin-bottom: 10px;
            }
          }
        }
        
        @media screen and (max-width: 1400px) {
          flex: 0 1 80%;
          margin-bottom: 60px;
          transform: scale(.9);
        }
        @media screen and (max-width: 1200px) {
          flex: 0 1 100%;
        }
        @media screen and (max-width: 700px) {
          border-radius: 0px;
          transform: scale(1);
        }
      }

      @media screen and (max-width: 900px) {
        padding: 0px 50px;
      }
      @media screen and (max-width: 700px) {
        padding: 0;
      }
    }
  }

  .articles{
    &__content{
      margin-left: auto;
      max-width: 89vw;

      .content__slider{
          margin-top: 53px;
          color: #fff;

          .slider__item{
            border-radius: 10px;
            display: flex;
            // justify-content: center;
            align-items: flex-end;
            min-height: 433px;
            overflow: hidden;

            position: relative;

            .slide__overlay {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: -1;

              background: rgba(0, 0, 0,.7);
            }

            .slide__image {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: -4;
              width: 100%;
              min-height: 100%;
              margin: 0 auto;
            }

            .slide__info {
              max-width: 400px;
              padding: 25px 25px 30px 41px;

              .info__title {
                @include text(#fff,24px,600,36px);
                margin-bottom: 10px;

                @media screen and (max-width: 1200px) {
                  @include text(#fff,22px,600,30px);
                }

                @media screen and (max-width: 650px) {
                  @include text(#fff,18px,600,22px);
                }
              }

              .info__text {

                @include text(#fff,16px,300,20px);
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;

                display: none;

                @media screen and (max-width: 650px) {
                  @include text(#fff,14px,300,18px);
                }

                @media screen and (max-width: 400px) {
                  @include text(#fff,12px,300,15px);
                }
              }

              .info__link{

                display: flex;
                display: none;
                align-items: center;
                margin-top: 15px;
                margin-right: auto;
                @include text(#fff,16px,700,20px);
                transition: all .2s linear;


                @media screen and (max-width: 650px) {
                  @include text(#fff,14px,700,18px);
                }

                @media screen and (max-width: 400px) {
                  @include text(#fff,12px,700,15px);
                }
              }

              @media screen and (max-width: 1200px) {
                padding: 25px 25px 30px 25px;
              }
              @media screen and (max-width: 650px) {
                padding: 16px 20px 20px 17px;
              }


            }

            &:hover >.slide__info> .info__link, &:hover >.slide__info> .info__text{
              display: -webkit-box;
            }

            @media screen and (max-width: 700px) {
              min-height: 390px;
            }

            @media screen and (max-width: 500px) {
              min-height: 310px;
            }
            @media screen and (max-width: 360px) {
              min-height: 260px;
            }
          }

        @media screen and (max-width: 600px) {
          margin-top: 40px;
        }
      }

      @media screen and (min-width: 2400px) {
        max-width: 84vw;
      }
      @media screen and (max-width: 1800px) {
        max-width: 1690px;
        padding-left: 50px;
      }
      @media screen and (max-width: 1100px) {
        padding-left: 32px;
      }
      @media screen and (max-width: 700px) {
        padding-left: 20px;
      }
    }
    @media screen and (max-width: 1100px) {
      padding-top: 60px;
    }
  }

  .partners{
    padding-top: 100px;
    padding-bottom: 150px;

    &__content{
      .content__list{
        margin-top: 100px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .list__item{
          position: relative;
          flex: 0 1 18%;
          text-align: center;
          margin-bottom: 70px;

          &:not(:nth-child(5n)){
            &:after{
              content: url("../img/logos/partners/mark.svg");
              position: absolute;
              bottom: -80px;
              right: -50px;
            }
          }
          &-without{
            &:after{
              content: "" !important;
            }
          }

          &-left{
            text-align: left;
          }

          img{
            max-width: 100%;
            
            @media screen and (max-width: 600px) {
              max-width: 95%;
            }
          }

          @media screen and (max-width: 1200px) {
            flex: 0 1 24%;

            &:not(:nth-child(5n)){
              &:after{
                content: "";
              }
            }

            &:not(:nth-child(4n)){
              &:after{
                content: url("../img/logos/partners/mark.svg");
                position: absolute;
                bottom: -80px;
                right: -50px;
              }
            }

            &-left{
              text-align: center;
            }
          }

          @media screen and (max-width: 1100px) {
            flex: 0 1 31%;

            &:not(:nth-child(4n)){
              &:after{
                content: "";
              }
            }

            &:not(:nth-child(3n)){
              &:after{
                content: url("../img/logos/partners/mark.svg");
                position: absolute;
                bottom: -80px;
                right: -50px;
              }
            }
          }

          @media screen and (max-width: 700px) {
            flex: 0 1 48%;
            text-align: right;

            &:not(:nth-child(3n)){
              &:after{
                content: "";
              }
            }

            &:not(:nth-child(2n)){
              text-align: left;

              &:after{
                content: url("../img/logos/partners/mark.svg") !important;
                position: absolute;
                bottom: -80px;
                right: -45px;
                transform: scale(.7);
              }
            }

            &:nth-child(19){
              &:after{
                content: "" !important;
                position: absolute;
                bottom: -80px;
                right: -45px;
                transform: scale(.7);
              }
            }
          }
        }
        
        @media screen and (max-width: 1000px) {
          margin-top: 70px;
        }
      }
    }
    
    @media screen and (max-width: 900px) {
      padding-bottom: 80px;
    }
  }
}