.footer{
  padding: 30px 0px;
  background: $blue;

  .footer__content{
    max-width: 95%;
    width: 100%;
    margin: 0 auto;

    .content__top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      
      .top__pharmstandart{

      }

      .top__menu{
        display: flex;

        .menu__item{
          display: block;
          margin: 0px 27px;
          @include text(#fff,16px,500,22px);
          text-transform: uppercase;

          transition: all .2s linear;

          &:hover{
            transform: scale(1.2);
          }
        }
      }

      .top__logo{

      }
      
      @media screen and (max-width: 1300px) {
        flex-direction: column;

        .top__logo{
          order: 1;
          margin-bottom: 41px;
        }
        .top__pharmstandart{
          order: 2;
          margin-bottom: 41px;

        }
        .top__menu{
          order: 3;
        }
      }

      @media screen and (max-width: 800px) {
        align-items: flex-start;
        .top__logo{
          padding-top: 50px;
          max-width: 80vw;
          margin-left: auto;
          margin-right: auto;
        }
        .top__pharmstandart{
          max-width: 50vw;
          margin-left: auto;
          margin-right: auto;
        }
        .top__menu{
          flex-direction: column;

          .menu__item{
            margin: 0;
            margin-bottom: 25px;
          }
        }
      }
    }

    .content__bottom{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .bottom__text{
        max-width: 850px;
        @include text(#fff,12px,300);
        margin-left: 10px;
      }
      .bottom__links{
        text-align: right;
        .links__item{
          @include text(#fff,12px,300);
          text-decoration-line: underline;

          display: block;

          &:first-child{
            margin-bottom: 8px;
          }
        }
      }

      @media screen and (max-width: 1300px) {
        margin-top: 40px;
      }

      @media screen and (max-width: 1200px) {
        flex-direction: column;
        .bottom__links{
          order: 1;
          margin-bottom: 16px;
          text-align: center;
        }
        .bottom__text{
          order: 2;
        }
      }

      @media screen and (max-width: 800px) {
        margin-top: 10px;
        align-items: flex-start;
        .bottom__links{
          text-align: left;
        }
      }
    }
  }
}